.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  color: #1a1a1a;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f4f4f475;
  height: 75px;
  width: 100%;
}
.header__nav-list,
.header__function-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.header__function-list > li {
  cursor: pointer;
}
.header__nav-list li,
.header__function-list li {
  padding: 30px 40px 30px 0;
}
.header__nav-list li a {
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav-list__dropdownlist__details > li > a {
  color: #818181;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav-list li a:hover {
  color: #789629;
}
.header__nav-list li a i {
  margin-left: 5px;
}
.header__logo {
  margin: 10px 0 0 0;
  padding: 0 30px 0 0;
  cursor: pointer;
}
.header__nav-list > li {
  position: relative;
  cursor: pointer;
}
.header__nav-list__dropdownlist {
  display: none;
  position: absolute;
  z-index: 1;
  top: 78px;
  left: 1%;
  width: 700px;
  padding: 0 0 26px 35px;
  border: 2px solid #789629;
  background-color: #fff;
  margin-left: -220px;
}
.header__nav-list__dropdown:hover .header__nav-list__dropdownlist {
  display: inline-block;
}
.header__nav-list__dropdownlist__details > li:hover {
  list-style: disc;
  color: #789629;
}
.header__nav-list__dropdownlist__title {
  width: 140px;
  padding: 35px 0 15px 0;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: auto;
}
.header__nav-list__dropdownlist__details {
  margin-bottom: 0;
}
.header__nav-list__dropdownlist__details > li {
  padding: 0;
  color: #818181;
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
}
.header__nav-list__dropdown__triangle {
  margin-left: 210px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 10px 20px;
  border-color: transparent transparent #769429 transparent;
}
.header__function-list__dropdown {
  cursor: pointer;
}
.header__function-list__dropdown:hover .header__function-list__dropdownlist {
  display: inline-block;
}
.header__function-list__dropdownlist {
  display: none;
  position: absolute;
  z-index: 1;
  top: 78px;
  left: -60px;
  width: 200px;
  padding: 0 0 26px 35px;
  border: 2px solid #789629;
  background-color: #fff;
}
.header__function-list__dropdown__triangle {
  margin-left: 10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 10px 20px;
  border-color: transparent transparent #769429 transparent;
}
.header__cart__product-details {
  margin: 10px 10px 10px -40px;
}
.header__cart__product-details__product-name {
  margin-left: -10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.header__cart__product-details__price {
  display: flex;
  width: 100%;
  color: #789629;
  font-family: "Lobster", sans-serif !important;
  font-size: 14px;
  line-height: 25px;
}
.header__cart__product-details__price-total {
  color: #789629;
  font-family: "Lobster", sans-serif !important;
  font-size: 14px;
  line-height: 25px;
  margin-right: 5px;
}
.header__cart__product-details__price-icon {
  display: inline-block;
  font-size: 10px;
  vertical-align: super;
  margin-top: -5px;
}
.header__cart__product-details__total {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-top: 7px;
  margin-left: -10px;
}
.header__cart__product-details__remove-product {
  margin-left: -25px;
  margin-top: -5px;
  transform: rotate(45deg);
  cursor: pointer;
}
.header__cart__product-details__btn_cart {
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;
  color: #fff;
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.header__cart__product-details {
  padding: 0;
  margin: 10px 0 10px -20px;
}
.header__cart__product-details__product-name {
  margin-left: -30px;
}
.header__line {
  width: 90%;
}
.header__navbar-mobile {
  display: none;
}
.fa-bars {
  color: white;
}
.header__navbar-mobile .circle {
  height: 30px;
  width: 30px;
  background-color: black;
  margin: -8px 0 0 0;
  cursor: pointer;
}
.header__navitem__mobile {
  display: none;
  margin: -8px 0 0 0;
  top: 0;
  padding-left: 20px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f4f4f475;
  width: 100%;
}
.header__navitem__mobile__list > ul {
  padding-top: 10px;
}
.header__navitem__mobile__list > ul > li {
  margin: 0;
  padding-bottom: 25px;
}
.header__navitem__mobile__list > ul > li > a:hover {
  color: #789629;
}
.header__navitem__mobile__list li a {
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
.header__navitem__dropdownlist {
  display: none;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  height: 400px;
  width: 80%;
  margin: 20px 0 0 0;
  padding: 0 0 26px 35px;
  border: 2px solid #789629;
  background-color: #fff;
}

.header__navitem__dropdown:hover .header__navitem__dropdownlist {
  display: block;
}
@media only screen and (max-width: 1199px) {
  .header__nav-list li {
    padding: 30px 15px 30px 0;
  }
  .header__nav-list__dropdownlist__details > li {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 995px) {
  .header__nav-list {
    display: none;
  }
  .header__navbar-mobile {
    display: flex;
  }
  .header__navitem__mobile {
    display: block;
  }
}
@media only screen and (max-width: 443px) {
  .header__nav-list {
    display: none;
  }
  .header__navbar-mobile {
    display: flex;
  }
  .header__navitem__mobile {
    display: block;
  }
  .header__function-list li {
    padding: 30px 12px 30px 0;
  }
}
